/* text boxes */
div.example {
font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: .1em 0.3em 0em .5em;
    border-left: 2px solid #aaa;
    text-align:justify;
    text-justify:auto;
}

div.theorem {
font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: .1em 0.3em 0em .5em;
    border-left: 2px solid #aaa;
    text-align:justify;
    text-justify:auto;
}

blockquote {
font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
    display: block;
    margin-top: .5em;
    margin-bottom: .9em;
    margin-left: 1em;
    margin-right: 1em;
    /* padding: .1em 0.3em 0em .5em; */
    border: none !important;
    text-align:justify;
    text-justify:auto;
}

div.argument {
  padding: 1em 2em 0.5em 2em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 10px;
  border: 2px solid #aaa;
  background-color: #f5f5f5;
  width: 75%;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 2px 2px 8px gray;
      text-align:justify;
    text-justify:auto;
}

@media (max-width: 700px){
 div.argument {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  box-shadow: none;
}
}

div.epigraph {
  width: 85%;
  padding: 20px;
  margin-left: auto;
  text-align: right;
}

.caution, .important, .note, .tip, .question, .slides, .warning {
  padding: 0.5em 2em 0 4em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #aaa;
  background: #f5f5f5 10px center/3em no-repeat;
  width: 95%;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 2px 2px 8px gray;
}


@media (max-width: 700px){
.caution, .important, .note, .tip, .question, .slides, .warning {
  background: #f5f5f5 10px center/1.5rem no-repeat;
  border: 3px dotted #aaa;
  box-shadow: none;
  width: 100%;
}

.caution ul, .important ul, .note ul, .tip ul, .question ul li, .warning ul {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal ul {
    padding: 0 0 0 1em;
}

}

.caution {
  background-image: url("./img/caution.png");
}
.important {
  background-image: url("./img/important.png");
}
.note {
  background-image: url("./img/note.png");
}
.tip {
  background-image: url("./img/tip.png");
}
.warning {
  background-image: url("./img/warning.png");
}
.question {
  background-image: url("./img/question.png");
}

.book .book-body .page-wrapper .page-inner .more {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border-left: 5px solid #ccc;
  border-radius: 15px;
  padding: 9px 14px;
  text-align:justify;
  text-justify:auto;
}

.color-theme-2 .argument {
  color: black;
}

.color-theme-2 .infobox {
   color: black;
}


/* center content */
.center{
  margin: auto;
  }

/* centered image */
.centerpic{
  margin:auto;
  text-align: center;
}

.centerpic img {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #aaa;
  background-color: #f5f5f5;
  box-shadow: 3px 3px 10px 2px gray;
}

/*cover image*/
img[alt="Philosophical Ethics book cover"]{
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 2px 2px 8px gray;
}

/*font size adjustments*/
.centercap{
  margin: auto;
  text-align: center;
  font-size: small;
  font-style: italic;
}

.tiny {
   font-size: x-small;
   text-align: center;
}

/* hide title in preface*/
#preface > h1 {
  display: none;
}

/*title styling*/
.title, .subtitle, .author, .date {
  text-align: center;
}

/*embedded iframes*/
.embed {
  position: relative;
  width: 95%;
  height: 0;
  padding-bottom: 100%;
}

.embed iframe {
  position: absolute;
  margin: 20px;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  box-shadow: 2px 2px 8px gray;
  border-radius: 10px;
}

@media (max-width: 700px){
  .embed {
    width: 90%;
  }

  .embed iframe {
      margin: 0;
      box-shadow: none;
  }
}

.slideshow {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.slideshow iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  box-shadow: 2px 2px 8px gray;
  border-radius: 10px;
}

@media (max-width: 700px){
  .slideshow iframe {
  border: none;
  padding: 10px;
  }
}

/*slideshow link buttons*/
.slideshow-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slideshow-buttons div {
  padding: 2em 0 0 0;
}

.slideshow-buttons p {
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
  box-shadow: 2px 2px 8px gray;
}

.slideshow-buttons p:hover {
  padding: 10px;
  background-color: #efeaea;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
}

.slideshow-buttons a:hover {
  text-decoration: none !important;
}


.container{
  display: flex;
  justify-content: center;
}

.widget {
  padding: 10px;
  margin: 10px 10px;
  border: 3px solid gray;
  border-radius: 15px;
  box-shadow: 2px 2px 6px #666;
}


.video {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 60px;
  height: 0;
  padding-bottom: 70%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.video iframe{

  border: 0;
  border-radius: 30px;
  box-shadow: 2px 2px 5px black;
}

.video-caption {
  width: 65%;
  font-size: 90%;
  padding: 15px;
  margin: 20px auto 70px auto;
  background-color: #eef;
  border: 2px solid #bbd;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
}

.show-more-text {
  padding: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  outline: none;
  font-size: 28px;
  background: none;
  border: none;
 }

 .show-more-text i {
   color: #888;
 }

.more-text {
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
  display: none;
  background-color: #f1f1f1;
  border-radius: 10px;
}


.more-text p {

  margin: 10px;
  padding: 10px;

}

.pullquote {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 4em;
  border-left: 5px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  background-color: #f1f1f1;
}

.pullquote p {
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
      text-align:justify;
    text-justify:auto;
}

.pullquote .pull-right{
  text-align: right;
  padding: 2em;
  margin-top: -3em;
}


@media (max-width: 700px){
.book .book-body .page-wrapper .page-inner section.normal p{
  margin-right: 1.5rem;
  }

.argument p {
  margin: 0;
  padding-bottom: 0;
}
}


/* Here is your custom css styles. */


ol li::marker {
  content: counter(list-item, upper-latin) "）";
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
  font-style: bold;
  font-weight: 700;
}


ul {
    list-style-image: url(https://cdn.bitdegree.org/learn/list-style-image-marker-1.png?426d93cd);
}


strong { /** markdown中部分shortcode內粗體<bb></bb> 與<strong>樣式同一 **/
font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
    font-style: bold;
    font-weight: 600;
    color: #eb0735;
}

red {
    color: #e53245;
}

tt { /** 文字下加三角形強調 **/
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #0E6251;
    text-emphasis: triangle #D55;
    text-emphasis-position: under left;
}

/*嘗試自定義「便捷」下劃線樣式 _**text**_ */
strong>em,
em>strong,
b>i,
i>b {
    font-style: normal;
    font-weight: normal;
    border-bottom: 1px solid;
}


 /* 「便捷」下劃線樣 */
z {
    font-style:normal;
    font-weight:normal;
    border-bottom: 1.5px solid gray;
}
 /* 「便捷」下劃線樣式接續下劃線左斷開 */
zl {
    font-style:normal;
    font-weight:normal;
    border-bottom: 1.5px solid gray;
    margin-left: 1.5px;
}
 /* 「便捷」下劃線樣式接續下劃線左右皆斷開 */
zr {
    font-style:normal;
    font-weight:normal;
    border-bottom: 1.5px solid gray;
    margin-left: 1.5px;
    margin-right: 1.5px;
}


 /* 插圖下沈fr爲圖在右邊fl爲左邊   */
fr {
      margin-left: 9px;
      margin-top: 0px;
      margin-bottom: -7px;
      width: 40%;
      height: auto;
      float: right;
}

fl {
      margin-right: 9px;
      margin-top: 0px;
      margin-bottom: -7px;
      width: 40%;
      height: auto;
      float: left;
}

 /* 圓形插圖下沈 Round Image Right */
.rir {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    float: right;
    margin-left: 8px;
    margin-top: 9px;
    margin-bottom: -9px;
}

 /* 圓形插圖下沈 Round Image Left */
.ril {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    float: left;
    margin-right: 8px;
    margin-top: 9px;
    margin-bottom: -9px;
}

 /*  方形插圖引文作者 Round Image 可配合 chqq 使用 */
.rip {
        display: inline-block;
        float: left;
        margin-right: 0px;
        margin-left: 1em;
        margin-top: 0.8em;
        margin-bottom: 0em;
        width: 50px;
        height: 50px;
        overflow: hidden;
        vertical-align:middle;
text-align: center;
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
        border: 1px solid #222c42;
}

riptitle {
        display: inline-block;
        float: left;
        position: relative;
        margin-right: 0px;
        margin-left: -3.2em;
        margin-top: 4.2em;
        margin-bottom: 0em;
        font-size: .66em;
        font-weight: normal
        /* font-family: "SYSong SemiBold", "Helvetica Neue", "Helvetica", "Arial", "Web Ming CP", "Noto Serif TC", "Special Elite", "GNUTypewriterStandard", sans-serif; */
}

 /*  圆形插圖文字環繞效果 */
.curve {
  width: 100px; height: 1000px;
  float: left;
  margin-right:0.2rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

chqq {
     font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
	font-size: 1.1rem;
	/* color: #222c42; */
	max-width: 700px;
	/* line-height: 1.7; */
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3.9em;
    margin-right: 2em;
    text-align: justify;
    text-justify: inter-ideograph;
}
/* //enq {
//        font-family: "Special Elite", "GNUTypewriterStandard", "Noto Serif", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//	font-size: 1.2rem;
//	color: #222c42;
//	max-width: 700px;
//	line-height: 1.4;
//    display: block;
//    margin-top: 1em;
//    margin-bottom: 1em;
//    margin-left: 3.9em;
//    margin-right: 2em;
//    text-align: justify;
//    text-justify: inter-ideograph;
//} */

/* 圓形插圖引文作者 Round Image 可配合 chqq 使用 */
.ripp {
        display: inline-block;
        float: left;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0em;
        margin-bottom: 0em;
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #1b5fa0;
        vertical-align:middle;
text-align: center;
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
}


/* enq新樣式 paragraph */
enq {
        font-family: "Special Elite", "GNUTypewriterStandard", "Noto Serif", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	/* font-size: 1.2rem;
	//color: #222c42;
	//max-width: 700px;
	//line-height: 1.4; */
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
   /*  //margin-left: 2em;
    //margin-right: 2em;
    //text-align: justify;
    //text-justify: inter-ideograph; */

    margin-left: .5em;
    margin-right: .5em;
    padding: .1em 0.3em 0em .5em;
    border-left: .22em solid #84c578;
   /* background: #E7F2FA;
   // border-radius: $border-radius; */
    font-size: 1.1rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.7rem;
    text-align:justify;
    text-justify:auto;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
}

/* enqp 新樣式 poem */

enqp {
        font-family: "Special Elite", "GNUTypewriterStandard", "Noto Serif", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      /* font-weight: 100;  */
	font-size: 1.1rem;
	color: #222c42;
        display: flex;
	justify-content: center;
	max-width: 700px;
	line-height: 1.7;
	margin: 0;
  margin-bottom: .7em;
  padding: 1.2em .5em .5em .5em;
	 /*  padding: .5rem;     */
}

enqp:before,
enqp:after {
	position: relative;
	color: #222c42;
	font-size: 5rem;
	width: 2.5rem;
	height: 2.5rem;
}

enqp:before {
	content: '';
	left: -.5rem;
	top: -1.5rem;
}

enqp:after {
	content: '';
	right: -.2rem;
	top: -1.5rem;
}

cite {
	font-family: "Special Elite", "GNUTypewriterStandard", "Noto Serif", "Open Sans", sans-serif;
         font-style: normal;
        display: block;
        text-align: right;
	/* max-width: 700px;
        //font-size: 1.2rem;
        //line-height: 1.7rem;  */
	position: relative;
        margin-top: 0.5em;
        margin-bottom: 0em;
        margin-right: 0em;
	/* color: #222c42;  */
}
cite:before {
	content: '——';
}

citeen {/* 爲 quoen 新增樣式  */
	font-family: "Special Elite", "GNUTypewriterStandard", "Noto Serif", "Open Sans", sans-serif;
        font-size: 1.1rem;
        line-height: 1.7rem;
        display: block;
        text-align: right;
	/* max-width: 700px;  */
	position: relative;
        margin-top: 0.5em;
        margin-bottom: 0em;
        margin-right: 0em;
	color: #222c42;
}
citeen:before {
	content: '——';
}

/* chq 中文段落引用新樣式 paragraph */
chq {
      font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
	/* font-size: 1.2rem;
	//color: #222c42;
	//max-width: 700px;
	//line-height: 1.7;  */
    display: block;
   /*  //margin-top: 1em;  */
    margin-bottom: 1em;
   /*  //margin-left: 2em;
    //margin-right: 2em;
    //text-align: justify;
    //text-justify: inter-ideograph; */

    margin-left: .5em;
    margin-right: .5em;
    padding: .1em 0.3em 0em .5em;
    border-left: .22em solid #84c578;
   /*  //background: #E7F2FA;
    // border-radius: $border-radius;
    //font-size: 1rem;
    //line-height: 2rem;  */
    text-align:justify;
    text-justify:auto;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
}

/*  漢語七言詩歌 poem */

.poem {
    display: block;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    text-justify:center;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
}

qiyan {
        font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
	max-width: 370px;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0em 1em 0em;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align:center;
    text-justify:center;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
}

bayan {
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
	max-width: 470px;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;

    margin-left: auto;
    margin-right: auto;
    padding: 0em 0em 1em 0em;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align:center;
    text-justify:center;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
}

/*  漢語七言詩歌 poem */
wuyan {
       font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
	max-width: 270px;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 0em 1em 0em;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align:center;
    text-justify:center;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
}

chcite {
	font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
        display: block;
        text-align: right;
	margin-top: 0.25rem;
        margin-bottom: 0em;
        margin-right: 0em;
}
chcite:before {
        font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
	content: '──';
}


quocnchcite {
	font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
        display: block;
        text-align: right;
        margin-right: 0em;
}
quocnchcite:before {
        font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
	content: '──';
}


/* 波浪線書名號 */
bk {
        text-decoration: wavy underline;
        text-decoration-skip: edges;
        text-decoration-skip-ink: auto;
}
bk:hover{
  color:darkblue;
  border-style:none
/*  border-width: 0px 0px 1px 0px; */
  /* padding:4px; */
}

/* 漢化「提示信息框」設定. noticem.html 放入對應 shortcodes 文件夾*/

.noticesm {
    position: relative;
    border-radius: .125rem;
    color: #fff;
    margin: 2rem 0;
    padding: .3rem 0.5rem .00019rem .8rem;
    > table {
        table-layout:fixed;
        width: 100%;
        margin: 10px 0;
        border-spacing: 0;
    }

    &.warning {
        border-top: 30px solid #f1b37e;
        background: #fefaf5;
        color: rgba(150, 90, 38, 0.995) !important;

        &::before {
            position: absolute;
            content: '⚠️ 特別警示';
            font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
            font-style: normal;
            font-weight: normal;
            top: -26.5px;
            left: 0.4rem;
            height: 100%;
        }

        a {
            font-weight: bold;
            color: rgba(134, 74, 22, 0.995);
        }

        > table {
            thead {
                background: #f1b37e;
            }

            th {
                color: rgba(134, 74, 22, 0.995);
            }

            th, td {
                padding: 5px 15px;
                border: 1px double rgba(166, 106, 54, 0.45);
            }
        }

        p > code, li > code, td > code, code {
            padding: 3px 7px;
            color: rgba(150, 90, 38, 0.995) !important;
            background-color: darken(#fefaf5, 6%) !important;
        }
    }

    &.tip {
        border-top: 30px solid #d58181;
        background: #fbeded;
        color: rgba(132, 56, 56, 0.995) !important;

        &::before {
            position: absolute;
            content: '◉ 官方吐槽';
            font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
            font-style: normal;
            font-weight: normal;
            top: -26.5px;
            left: 0.4rem;
            height: 100%;
        }

        a {
            font-weight: bold;
            color: rgba(116, 40, 40, 0.995);
        }

        > table {
            thead {
                background: #d58181;
            }

            th {
                color: rgba(116, 40, 40, 0.995);
            }

            th, td {
                padding: 5px 15px;
                border: 1px double rgba(148, 72, 72, 0.45);
            }
        }

        p > code, li > code, td > code, code {
            padding: 3px 7px;
            color: rgba(132, 56, 56, 0.995) !important;
            background-color: darken(#fbeded, 6%) !important;
        }
    }

    &.info {
        border-top: 30px solid #6bb1e0;
        background: #e6f3fb;
        color: rgba(47, 103, 141, 0.995) !important;

        &::before {
            position: absolute;
            content: '☯ 編者按語';
           font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
            font-style: normal;
            font-weight: normal;
            top: -26.5px;
            left: 0.4rem;
            height: 100%;
        }

        a {
            font-weight: bold;
            color: rgba(31, 87, 125, 0.995);
        }

        > table {
            thead {
                background: #6bb1e0;
            }

            th {
                color: rgba(31, 87, 125, 0.995);
            }

            th, td {
                padding: 5px 15px;
                border: 1px double rgba(63, 119, 157, 0.45);
            }
        }

        p > code, li > code, td > code, code {
            padding: 3px 7px;
            color: rgba(47, 103, 141, 0.995) !important;
            background-color: darken(#e6f3fb, 6%) !important;
        }
    }

    &.note {
        border-top: 30px solid #84c578;
        background: #e8f7e6;
        color: rgba(72, 125, 63, 0.995) !important;

        &::before {
            position: absolute;
            content: '㉄ 思考题目';
            font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
            font-style: normal;
            font-weight: normal;
            top: -26.5px;
            left: 0.4rem;
            height: 100%;
        }

        a {
            font-weight: bold;
            color: rgba(56, 109, 47, 0.995);
        }

        > table {
            thead {
                background: #84c578;
            }

            th {
                color: rgba(56, 109, 47, 0.995);
            }

            th, td {
                padding: 5px 15px;
                border: 1px double rgba(82, 141, 79, 0.45);
            }
        }

        p > code, li > code, td > code, code {
            padding: 3px 7px;
            color: rgba(72, 125, 63, 0.995) !important;
            background-color: darken(#e8f7e6, 6%) !important;
        }
    }
}

/* 整合 HUGO LEARN THEME shortcodes 「附件添加效果」設定. attachments.html 放入對應 shortcodes 文件夾*/

/* attachments shortcode */

.ref::before {
 font-family: "Font Awesome 5 Free", "FontAwesome", "SYHei Bold", sans-serif;
  font-size: 1.2rem;
  color: white;
  display: inline-block;
  margin-left: -257px;
  margin-right: 17px;
  content: " Attachments ";
}



section.attachments label {
    font-weight: 400;
    padding-left: 16rem;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    margin: 0;
}

section.attachments .attachments-files {
    padding: 7px;
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: -.08rem;
    margin-bottom: 1rem;
    padding-left: 0.1rem;
    color: rgba(72, 125, 63, 0.995) !important;
        a {
            font-weight: bold;
            color: rgba(134, 74, 22, 0.995);
        }
}

section.attachments.orange label {
    color: #fff;
    background: #F0B37E;
}

section.attachments.orange .attachments-files {
    background: #FFF2DB;
}

section.attachments.green label {
    color: #fff;
    background: rgba(92, 184, 92, 0.8);
}

section.attachments.green .attachments-files {
    background: #E6F9E6;
}

section.attachments.blue label {
    color: #fff;
    background: #6AB0DE;
}

section.attachments.blue .attachments-files {
    background: #E7F2FA;
}

section.attachments.grey label {
    color: #fff;
    background: #505d65;
}

section.attachments.grey .attachments-files {
    background: #f4f4f4;
}

/* 整合 HUGO LEARN THEME shortcodes 「頁面與子頁面效果」設定. children.html 放入對應 shortcodes 文件夾*/

/* Children shortcode */
.children p {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
    font-size: 1.2rem;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom:  0px;
    padding-bottom: 0px;
}
.children-li p {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
    font-style: normal;
    font-size: 1.2rem;

}
.children-h2 p, .children-h3 p {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom:  0px;
    padding-bottom: 0px;
}
.children h3,.children h2 {
    margin-bottom: 0px;
    margin-top: 5px;
}



/* FOOTNOTE 樣式去掉 hr 直線 */
.footnotes {
   > hr {
     display: none;
   }
}

a[href^="#fn:"],
/* Back to footnote link */
a[href^="#fnref:"] {
  /* text-decoration: none; */
 /* color: #E6F9E6; */
 /* font-family: monospace; */
}
a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }


/* 目錄分欄 CSS */
.newspaper1 {
  margin-top: -.5rem;
  margin-left: 1.7rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
  -webkit-columns: 120px 2; /* Chrome, Safari, Opera */
  -moz-columns: 120px 2; /* Firefox */
   columns: 120px 2;
   /* column-rule: solid 3px gainsboro;  */
   /* border-top: solid 3px gainsboro; */
   /* border-bottom: solid 3px gainsboro; */
   font-size: 1rem;
   font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
}

.newspaper2 {
  -webkit-columns: 50px 3; /* Chrome, Safari, Opera */
  -moz-columns: 50px 3; /* Firefox */
  columns: 50px 3;
  font-size: 1rem;
   font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
}

/*  POST AUTHOR and Date icon */

.zuozhe::before {
  font-family: "Font Awesome 5 Free", "SYSong Medium";
  font-size: 1.2rem;
  display: inline-block;
  content: "";/*   */
}
.zuozheat::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";/*  */
}

.riqi::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}
.yuedushichang::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}

.lianjie::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}
.wenxuan::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}

.tushu::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}

.yueduliang::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}

.zishu::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}

.gengxin::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}

ruby { /* //上标拼音或英漢對譯等效果 */
  ruby-align:center;
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    margin-left: -3px;
    margin-right: -4px;
}



h1 {
	margin: 0rem 0 0.4rem 0;
	padding: 0;
         text-indent: 0rem;
         font-size: 28px;
        text-align: left;
	line-height: 40px;
        padding: 9px 0px 5px 0%;
	  font-style: bold;
        font-weight: 700;
  color:#eb0735;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
   /* background: url('https://i.loli.net/2020/09/01/6PBqUGe2nzrJahQ.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;  */
}


h2 {
	margin: 0rem 0 0.4rem 0;
  padding: 0;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
  font-size: 26px;
	line-height: 40px;
  text-align: left;
  font-style: bold;
  font-weight: 700;
  color:#eb0735;
}

h3 {
	margin: 0rem 0 0.4rem 0;
  padding: 0;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
  font-size: 22px;
	line-height: 36px;
	font-style: bold;
  font-weight: 700;
  color:#eb0735;
}

h4 {
	margin: 0rem 0 0.4rem 0;
  padding: 0;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
	font-size: 18px;
	line-height: 32px;
	font-style: bold;
  font-weight: 700;
  color:#eb0735;
}

.header-section-number {
	margin: 0rem 0 0.4rem 0;
  padding: 0;
	font-style: bold;
  font-weight: 900;
  color:#eb0735;
}


singlepagetitle {/* posts singlepagetitle title style */
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    text-align: left;
    /* margin: 0px 0px 5px 0px;  */
    margin-bottom: -.7rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-style: normal;
    font-weight: normal;
}

/* Round Image Author  */
.circular--portrait {
  position: left;
  float: left;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(URL) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  transform: rotate(-12deg); /* 圓形頭像旋轉角度  */
}
.circular--portrait img {
  width: 100%;
  height: auto;
}

/* 回到頭部按鈕樣式，方法參考 https://marsgrid.com/post/a11_back2top/   */
.backtop {
    color: #b3b1b1;
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 32px;
    height: 32px;
    z-index: 999998;
}

/* 刪除線顏色 ~~ ~~*/
del {
  text-decoration:line-through double red;
}


/* 換行符號 <br>從行間距調整爲段落間距，以適應某些 shortcode 環境分段需求 // 在 markdown 文件中按兩次空格等同 br，即產生分段效果。 */
/* br {
  display: block;
  content: "";
  border-bottom: 7.5px solid transparent; // Works in Chrome/Safari
}
@-moz-document url-prefix() {
  br {
    margin-bottom: 7.5px; // As 'border-bottom' doesn't work in firefox and 'margin-bottom' doesn't work in Chrome/Safari.
  }
}

wbr {//br 用於shortcode內的分段後，用 <wbr />在詩歌環境換行，chrome ？
  display: list-item;
  content: "";
  //border-bottom: 5px solid transparent; // Works in Chrome/Safari
}
@-moz-document url-prefix() {
  wbr {
    //margin-bottom: 5px; // As 'border-bottom' doesn't work in firefox and 'margin-bottom' doesn't work in Chrome/Safari.
  }
}*/

/* mark 筆 HTML 標籤，紅綠色 */
:root {
  --del-color: #ff92bf;
  --ins-color: #ddff92;
}

rm {/* 淺紅色不規則Red Mark筆 <rm> </rm>*/
  --color: var(--del-color, red);
  text-decoration: none;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to left, rgba(255, 255, 255, .5), transparent),
    linear-gradient(2deg, var(--color) 50%, transparent 50%),
    linear-gradient(-.9deg, var(--color) 50%, transparent 50%),
    linear-gradient(-60deg, var(--color) 50%, transparent 50%),
    linear-gradient(120deg, var(--color) 50%, transparent 50%);

  background-size:
    30% 1.5px,
    calc(100% - 0px) 30px,
    calc(100% - 10px) 120px,
    30px 30px,
    8px 8px;

  background-position:
    100% calc(50% + 2px),
    center center,
    center center,
    2px 50%,
    calc(100% - 3px) calc(50% + 1px);
}

/* 綠色G MARK筆 <gm> </gm> */
gm {
  background: var(--ins-color, green);
  text-decoration: none;
}


/* definition shortcode 樣式 爲 defintion 新增的樣式 */
.definition {
    margin-bottom: 1rem;
    padding:.5em .5em .5em .5em;
    background: #e8f7e6;
    color: rgba(72, 125, 63, 0.995) !important;
    border-bottom-right-radius: .2em .2em;
    border-bottom-left-radius: .2em .2em;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    text-align:justify;
    text-justify:auto;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }
.definitiontitle {
    /* margin-left: 2em;  */
   /* margin-right: 2em;  */
   /* max-width: 700px;  */
    padding: 0.5em;
    border-top-left-radius:.2em;
    border-top-right-radius:.2em;
    background: #2F4F4F;
    color: white;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    font-size: 1.2rem;
    line-height: .8rem;
    text-align:center;
    text-justify:auto;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }
/* .definitiontitle::before {
//  font-family: "Font Awesome 5 Free";
//  font-size: 1.2rem;
// display: inline-block;
//  content: "";//名詞解釋
//}  */
.qmarkl::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: ""; /* //      */
}
.qmarkr::after {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  display: inline-block;
  content: "";
}



/* dtpc shortcode 樣式(definition, theorem, proposition, corrollary) */
.dtpcbox {/* 爲 dtpc 新增的樣式 */
    /* margin-left: 2em; */
    /* margin-right: 2em; */
    margin-bottom: 1em;
    /* max-width: 700px; */
    padding:.5em .5em .5em .5em;
        background: #e8f7e6;
    /* color: rgba(72, 125, 63, 0.995) !important; //使用 darker/hacker/kimbie 顏色主題時需要固定字體顏色 */
    border-bottom-right-radius: .2em .2em;
    border-bottom-left-radius: .2em .2em;
    font-family: "SYHei Regular", sans-serif;
    /* font-size: 1.2rem;  */
    /* line-height: 2rem;  */
    /* text-align:justify; */
    /* text-justify:auto;  */
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }
.dtpcboxtitle {/* 爲 dtpc title新增的樣式  */
    /* margin-left: 2em;  */
    /* margin-right: 2em;  */
    /* max-width: 700px;  */
    padding: 0.5em;
    border-top-left-radius:.3em;
    border-top-right-radius:.3em;
    background: #0E6251; //#34495e
    color: white;
    /* border-radius: $border-radius;  */
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    font-size: 1.2rem;
    line-height: .8rem;
    text-align:left;
    text-justify:auto;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }

/* dtpc shortcode 樣式(example) */
.dtpcexbox {/* 爲 dtpcex 新增的樣式 */
    /* margin-left: 2em;  */
    /* margin-right: 2em;  */
    margin-bottom: 1em;
    /* max-width: 700px;  */
    padding:.5em .5em .5em .5em;
        background: #e8f7e6;//#fafafa  #faf7f7
       /* color: rgba(72, 125, 63, 0.995) !important; //使用 darker/hacker/kimbie 顏色主題時需要固定字體顏色  */
    border-bottom-right-radius: .2em .2em;
    border-bottom-left-radius: .2em .2em;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    /* font-size: 1.2rem;  */
    /* line-height: 2rem;  */
    text-align:justify;
    text-justify:auto;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }
.dtpcexboxtitle {/* 爲 dtpcex title新增的樣式 */
    /* margin-left: 2em; */
    /* margin-right: 2em; */
    /* max-width: 700px; */
    padding: 0.5em;
    border-top-left-radius:.3em;
    border-top-right-radius:.3em;
    background: #546158;
    color: white;
    /* border-radius: $border-radius;  */
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "微软雅黑", sans-serif;
    font-size: 1.2rem;
    line-height: .8rem;
    text-align:left;
    text-justify:auto;
    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }
  }



/* Codecaption 源代碼框 shortcode 樣式（在_markdown.scss內的 code/pre 內調整背景色、行號與源碼的距離等等） https://github.com/parsiya/Hugo-Octopress/blob/master/static/css/hugo-octopress.css  */

figure.code {
    background: none;
    padding: 0;
    border: 0;
    margin-bottom: 1em;
}
figure.code pre {
    margin-top: 0em;
    margin-bottom: 0em;
}
figure.code figcaption {
    position: relative
}

figure.code .highlighttable {
    margin-bottom: 0;
    table-layout: fixed;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


figure,
figcaption {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "SYHei Bold", sans-serif;
}

.code-title,
figure.code figcaption { /* figcaption style changes here*/
    text-align: center;
    line-height: 1.7em;
    text-shadow: #cbcccc 0 1px 0;
    color: inherit;
      text-rendering: optimizeLegibility;
    margin-bottom: 0;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #aaa top repeat-x;
    border: 5px solid #565656;
    border-top-color: #cbcbcb;
    border-left-color: #a5a5a5;
    border-right-color: #a5a5a5;
    border-bottom: 0;
    font-size: 120%; /* change size of font in figcaption */
}


div.codewrapper {
    background-color: #002B36;
    overflow-x: auto;
    overflow-y: hidden;
}

/* Fix codecaption and the new Chroma highlighter */

div.highlight > pre > code,
pre > code
{
    overflow-y: hidden;
    display: block;
    line-height: 1.5em;
}

.linenodiv {
    background-color: #002B36!important;
}

td > div.highlight > pre > code,
div.linenodiv > pre > code
{
    overflow: scroll;
    overflow-y: hidden;
    display: inline;
}

/* End fix codecaption and the new Chroma highlighter */

pre::-webkit-scrollbar,
.highlighttable::-webkit-scrollbar,
.gist-highlighttable::-webkit-scrollbar {
    height: .5em;
    background: rgba(255, 255, 255, 0.15)
}
pre::-webkit-scrollbar-thumb:horizontal,
.highlighttable::-webkit-scrollbar-thumb:horizontal,
.gist-highlighttable::-webkit-scrollbar-thumb:horizontal {
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 4px;
    border-radius: 4px
}


/* Link image card 链接页面链接网站图片卡样式 */

.fir-clickcircle {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  cursor: pointer;
}

.fir-image-figure {
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  text-decoration: none;
}

.fir-image-figure .caption, .fir-image-figure figcaption {
  padding-left: 11px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
  font-family: "SYHei Bold", sans-serif;
  font-size: 16px;
}

.fir-image-figure .fig-author-figure-title {
  font-family: "SYHei Bold", sans-serif;
  font-size: 1.4rem;
  margin-top: 2px;
}

.fir-image-figure .fig-author-figure-info {
  font-family: "SYHei Bold", sans-serif;
  font-size: 1.1rem;
  margin-top: 1px;
}


/* Search Bar Design for Baidu Search*/
.searchTerm {
  width: 90%;
  border: 0px solid #00B4CC;
  padding: 4px;
  height: 27px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
  margin-bottom: 0.3em;
}
.searchTerm:focus{
  color: #00B4CC;
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 26, 2019 */
/* 自定義頁面字體 */

@font-face {
  font-family: 'GNUTypewriterStandard';
  src: url('../fonts/GNUTypewriterStandard.eot');
  src: url('fonts/fonts/gnutypewriter/8a7cb57723df9125503083ed59e7a11c/718af758a8ac10cf79fcc33420aacc3e/GNUTypewriterStandard.ttf') format('truetype'),url('../fonts/GNUTypewriterStandard.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GNUTypewriterStandard.woff2') format('woff2'),
       url('../fonts/GNUTypewriterStandard.woff') format('woff'),
       url('../fonts/GNUTypewriterStandard.ttf') format('truetype'),
       url('../fonts/GNUTypewriterStandard.svg#GNUTypewriterStandard') format('svg');
}


**
 * Basic typography style for copy text
 */

html {
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Microsoft YaHei", "微软雅黑", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Roboto", "Arial", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Microsoft YaHei", "微软雅黑", sans-serif;
}

p {
  text-align:justify;
  text-justify:auto;
}





.freebox, .freeboxforbib {
  padding: 0.3em 0.5em 0 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #aaa;
  background: #f5f5f5 10px center/3em no-repeat;
  width: 95%;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 2px 2px 8px gray;
}
@media (max-width: 700px){
.freebox, .freeboxforbib {
  background: #f5f5f5 10px center/1.5rem no-repeat;
  border: 3px dotted #aaa;
  box-shadow: none;
  width: 100%;
}

/* freebox shortcode 樣式 */
.freebox {
    margin-bottom: 1em;
    padding:.5em .5em .5em .5em;
    background: #f5f5f5 10px center/3em no-repeat;
    border-bottom-right-radius: .2em .2em;
    border-bottom-left-radius: .2em .2em;
  border: 2px solid #aaa;
  width: 99%;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 2px 2px 8px gray;
  }


